@-webkit-keyframes ldio-c2e43eoq2mk {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes ldio-c2e43eoq2mk {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ldio-c2e43eoq2mk div {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.ldio-c2e43eoq2mk>div {
    position: absolute;
    width: 114px;
    height: 114px;
    top: 43px;
    left: 43px;
    border-radius: 50%;
    border: 14px solid #000;
    border-color: #fc4309 transparent #fc4309 transparent;
    -webkit-animation: ldio-c2e43eoq2mk 1s linear infinite;
    animation: ldio-c2e43eoq2mk 1s linear infinite;
}

.ldio-c2e43eoq2mk>div:nth-child(2),
.ldio-c2e43eoq2mk>div:nth-child(4) {
    width: 82px;
    height: 82px;
    top: 59px;
    left: 59px;
    animation: ldio-c2e43eoq2mk 1s linear infinite reverse;
}

.ldio-c2e43eoq2mk>div:nth-child(2) {
    border-color: transparent #ff765c transparent #ff765c;
}

.ldio-c2e43eoq2mk>div:nth-child(3) {
    border-color: transparent;
}

.ldio-c2e43eoq2mk>div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ldio-c2e43eoq2mk>div:nth-child(3) div:before,
.ldio-c2e43eoq2mk>div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    top: -14px;
    left: 36px;
    background: #fc4309;
    border-radius: 50%;
    -webkit-box-shadow: 0 100px 0 0 #fc4309;
    box-shadow: 0 100px 0 0 #fc4309;
}

.ldio-c2e43eoq2mk>div:nth-child(3) div:after {
    left: -14px;
    top: 36px;
    -webkit-box-shadow: 100px 0 0 0 #fc4309;
    box-shadow: 100px 0 0 0 #fc4309;
}

.ldio-c2e43eoq2mk>div:nth-child(4) {
    border-color: transparent;
}

.ldio-c2e43eoq2mk>div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ldio-c2e43eoq2mk>div:nth-child(4) div:before,
.ldio-c2e43eoq2mk>div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    top: -14px;
    left: 20px;
    background: #ff765c;
    border-radius: 50%;
    -webkit-box-shadow: 0 68px 0 0 #ff765c;
    box-shadow: 0 68px 0 0 #ff765c;
}

.ldio-c2e43eoq2mk>div:nth-child(4) div:after {
    left: -14px;
    top: 20px;
    -webkit-box-shadow: 68px 0 0 0 #ff765c;
    box-shadow: 68px 0 0 0 #ff765c;
}

.loadingio-spinner-double-ring-4hm5bmt2u7l {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}

.ldio-c2e43eoq2mk {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-c2e43eoq2mk div {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}


/* generated by https://loading.io/ */


/*# sourceMappingURL=preload.css.map */