

/* .splide{
    width: 50%;
    background: #000;
    height: 200px;
} */

.slider-producto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 700px;
    margin: auto;
    background: #777;
}
.p-splide--primary{
    height: 80%;
}
.p-splide--secundary{
    height: 20%;
}
.splide__container{
    width: 100%;
}
.splide{
    width: 100%;
}
.splide__slide img {
	width : 100%;
    height: auto;
}
.p-splide--secundary img{
    opacity: .4;
}
img:hover, 
img:active {
    opacity: 1;
}
